* {
    margin: 0;
    padding: 0;
    border: none;

}

.light {
    --color: #eee;
    --color-secondary: #464b74;
    --color-focus: #ffffff;
    --bg: #eceaea;
    --bg-secondary: #6f74c9;
    --bg-focus: #eeefff;
    --bg-hover: #5a5fc9;

    --border: #595c8e;
}

.dark {
    --color: #eee;
    --color-secondary: #818bd2;
    --color-focus: #ffffff;
    --bg: #1c1a1a;
    --bg-secondary: #8186e5;
    --bg-focus: #383a65;
    --bg-hover: #5a5fc9;

    --border: #595c8e;
}

.calculator {
    display: none;
}

header {
    .nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        background-color: var(--bg);


        border-radius: 0.2rem;
        margin: 0%;
    }

    .nav-item {
        display: inline-block;
        position: relative;
        padding: 1rem;
        margin-right: 2rem;

        list-style: none;

        a {
            padding: 1rem;
            height: 1rem;
        }
    }

    .nav-item a::after {
        content: '';
        position: absolute;
        width: 100%;

        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;

        transform-origin: bottom right;
        transition: transform 0.4s ease-out;
    }

    .nav-item:hover a::after {
        padding: 0px 0px 5px 0px;
        color: var(--bg-hover);
        border-bottom: solid;
        border-width: 3px;

        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .nav-item a {
        text-decoration: none;
        color: var(--color-secondary);
        height: 100%;

    }



    .nav-item.logo {
        padding: 0;
    }

    .dropdown {

        .dropdown-list {
            display: none;


        }
        
    }
    .dropdown:hover {
        .dropdown-list {
            display: block;
        }
    }
}

body {
    background: var(--bg);
    font-family: Arial, Helvetica, sans-serif, Courier, monospace;
    color: var(--color);
    overflow-x: hidden;

    * {
        border-radius: 3px;
    }
}

.mode {
    position: absolute;
    font-size: small;
    color: var(--color-secondary);
    background: var(--bg);
    cursor: pointer;
    user-select: none;

}

.voltage-divider-calculator {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    h1 {
        align-self: center;
    }

    .voltage-divider {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .equal {
            font-size: 2rem;
            padding: 2rem;
            align-self: center;
            font-weight: lighter;

            color: var(--color-secondary);
        }

        .inputs {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .input {
                background: var(--bg);

            }

            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            input[type=number] {
                -moz-appearance: textfield;
            }

            input:focus,
            select:focus {
                color: var(--color-secondary);
                background: var(--bg-focus);
            }

            button:focus {
                background: var(--bg-hover);

            }

            .resistors {
                input {
                    max-width: 33%
                }
            }

            #resistor-1 {
                order: 0;
            }

            #resistor-2 {
                order: 1;
            }

            #units {
                order: 2;
            }

            #voltage {
                order: 3;
            }
        }

        #calculate-button {
            order: 4;
        }

        .outputs {
            display: flex;
            flex-direction: column;
            // justify-content: flex-end;
            justify-content: center;

            output {
                padding: 1rem;
                background: var(--bg-secondary);
            }
        }

        input,
        select,
        button {
            outline: none;
            border-color: var(--border);
            border: 3px solid var(--border);
            padding: 1rem 0.5rem 1rem 0.5rem;
            margin: 0.2rem;
            text-align: center;
            color: var(--color-secondary)
        }






        button {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            background: var(--bg-secondary);
            color: var(--color);
            cursor: pointer;
            transition: background 0.3s ease, border-color 0.3s ease;

            width: 7rem;

        }

        button:hover {
            background: var(--bg-hover);
            border-color: var(--bg-hover);
        }
    }
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    box-sizing: border-box;

    h1 {
        color: var(--color-secondary);
        margin-bottom: 1rem;
    }
}