* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: #eceaea;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.resistor-divider {

    input,
    select,
    button {

        border: 2px solid #6f74c9;
        padding: 1rem 0.5rem 1rem 0.5rem;
        margin: 0.2rem;
        text-align: center;
        color: #2a30a5
    }

    input:focus {
        color: #121212;
        background: #eeefff;
    }

    select {

        font-size: 0.75rem;
    }

    button {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        background: #6f74c9;
        color: #fff;
        cursor: pointer;
        transition: background 0.3s ease, border-color 0.3s ease;

        width: 7rem;


    }

    button:hover {
        background: #5a5fc9;
        border-color: #5a5fc9;
    }
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    box-sizing: border-box;

    h1 {
        margin-bottom: 0.5rem;
    }
}