* {
  margin: 0;
  padding: 0;
  border: none;
}

.light {
  --color: rgb(238, 238, 238);
  --color-secondary: rgb(70, 75, 116);
  --color-focus: rgb(255, 255, 255);
  --bg: rgb(236, 234, 234);
  --bg-secondary: rgb(111, 116, 201);
  --bg-focus: rgb(238, 239, 255);
  --bg-hover: rgb(90, 95, 201);
  --border: rgb(89, 92, 142);
}

.dark {
  --color: rgb(238, 238, 238);
  --color-secondary: rgb(129, 139, 210);
  --color-focus: rgb(255, 255, 255);
  --bg: rgb(28, 26, 26);
  --bg-secondary: rgb(129, 134, 229);
  --bg-focus: rgb(56, 58, 101);
  --bg-hover: rgb(90, 95, 201);
  --border: rgb(89, 92, 142);
}

.calculator {
  display: none;
}

header .nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--bg);
  margin: 0%;
}
header .nav-item {
  display: inline-block;
  position: relative;
  padding: 1rem;
  margin-right: 2rem;
  list-style: none;
}
header .nav-item a {
  padding: 1rem;
  height: 1rem;
}
header .nav-item a {
  text-decoration: none;
  color: var(--color-secondary);
  height: 100%;
}
header .nav-item .dropdown-list a {
  color: var(--bg);
}
header .nav-item.logo {
  padding: 0;
}
header .dropdown {
  position: relative;
}
header .dropdown .dropdown-list {
  background: rgba(129, 134, 229, 0.5);
  display: none;
  position: absolute;
  bottom: -8.5rem;
  left: 0;
  list-style-type: none;
  text-align: left;
  border-radius: 5px;
}
header .dropdown .dropdown-list .dropdown-item {
  background: var(--bg-secondary);
  display: flex;
  justify-content: left;
  color: var(--bg);
  border-radius: 5px;
}
header .dropdown .dropdown-list .dropdown-item a {
  text-align: left;
}
header .dropdown .dropdown-item:hover {
  background: var(--bg-hover);
}
header .dropdown:hover .dropdown-list {
  display: inline;
}

body {
  background: var(--bg);
  font-family: Arial, Helvetica, sans-serif, Courier, monospace;
  color: var(--color);
  overflow-x: hidden;
}
body section {
  border-radius: 3px;
}

.mode {
  position: absolute;
  font-size: small;
  color: var(--color-secondary);
  background: var(--bg);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.calculator.current {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.calculator.current h1 {
  align-self: center;
}
.calculator.current .voltage-divider {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.calculator.current .voltage-divider .equal {
  font-size: 2rem;
  padding: 2rem;
  align-self: center;
  font-weight: lighter;
  color: var(--color-secondary);
}
.calculator.current .voltage-divider .inputs {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.calculator.current .voltage-divider .inputs .input {
  background: var(--bg);
}
.calculator.current .voltage-divider .inputs input::-webkit-outer-spin-button,
.calculator.current .voltage-divider .inputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.calculator.current .voltage-divider .inputs input[type=number] {
  -moz-appearance: textfield;
}
.calculator.current .voltage-divider .inputs input:focus,
.calculator.current .voltage-divider .inputs select:focus {
  color: var(--color-secondary);
  background: var(--bg-focus);
}
.calculator.current .voltage-divider .inputs button:focus {
  background: var(--bg-hover);
}
.calculator.current .voltage-divider .inputs .resistors input {
  max-width: 33%;
}
.calculator.current .voltage-divider .inputs #resistor-1 {
  order: 0;
}
.calculator.current .voltage-divider .inputs #resistor-2 {
  order: 1;
}
.calculator.current .voltage-divider .inputs #units {
  order: 2;
}
.calculator.current .voltage-divider .inputs #voltage {
  order: 3;
}
.calculator.current .voltage-divider #calculate-button {
  order: 4;
}
.calculator.current .voltage-divider .outputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.calculator.current .voltage-divider .outputs output {
  padding: 1rem;
  background: var(--bg-secondary);
}
.calculator.current .voltage-divider input,
.calculator.current .voltage-divider select,
.calculator.current .voltage-divider button {
  outline: none;
  border-color: var(--border);
  border: 3px solid var(--border);
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin: 0.2rem;
  text-align: center;
  color: var(--color-secondary);
}
.calculator.current .voltage-divider button {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background: var(--bg-secondary);
  color: var(--color);
  cursor: pointer;
  transition: background 0.3s ease, border-color 0.3s ease;
  width: 7rem;
}
.calculator.current .voltage-divider button:hover {
  background: var(--bg-hover);
  border-color: var(--bg-hover);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
}
section h1 {
  color: var(--color-secondary);
  margin-bottom: 1rem;
}/*# sourceMappingURL=main.css.map */