* {
    margin: 0;
    padding: 0;
    border: none;

}

.light {
    --color: rgb(238, 238, 238);
    --color-secondary: rgb(70, 75, 116);
    --color-focus: rgb(255, 255, 255);
    --bg: rgb(236, 234, 234);
    --bg-secondary: rgb(111, 116, 201);
    --bg-focus: rgb(238, 239, 255);
    --bg-hover: rgb(90, 95, 201);

    --border: rgb(89, 92, 142);
}

.dark {
    --color: rgb(238, 238, 238);
    --color-secondary: rgb(129, 139, 210);
    --color-focus: rgb(255, 255, 255);
    --bg: rgb(28, 26, 26);
    --bg-secondary: rgb(129, 134, 229);
    --bg-focus: rgb(56, 58, 101);
    --bg-hover: rgb(90, 95, 201);

    --border: rgb(89, 92, 142);

}
$background-secondary: rgb(129, 134, 229);

.calculator {
    display: none;
}

header {
    .nav-list {
        
        display: flex;
        justify-content: flex-end;
        align-items: center;

        background-color: var(--bg);



        margin: 0%;
    }

    .nav-item {
        display: inline-block;
        position: relative;
        padding: 1rem;
        margin-right: 2rem;

        list-style: none;

        a {
            padding: 1rem;
            height: 1rem;
        }
    }


    .nav-item {
        a {
            text-decoration: none;
            color: var(--color-secondary);
            height: 100%;
        }

        .dropdown-list a {
            color: var(--bg);
        }


    }



    .nav-item.logo {
        padding: 0;
    }
 
    .dropdown {
        position: relative;

        .dropdown-list {
            background: rgba($background-secondary, 0.5);
            // background: red;
            display: none;
            position: absolute;
            bottom: -8.5rem;
            left: 0;
            list-style-type: none;
            text-align: left;
            border-radius: 5px;

            .dropdown-item {
                background: var(--bg-secondary);
                display: flex;
                justify-content: left;
                // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
                color: var(--bg);
                border-radius: 5px;

                a {
                    text-align: left;
                }
            }

        }

        .dropdown-item:hover {
            background: var(--bg-hover);

        }

    }

    .nav-item:hover {
        .dropdown-list {
            display: inline;
        }


    }
}


body {
    background: var(--bg);
    font-family: Arial, Helvetica, sans-serif, Courier, monospace;
    color: var(--color);
    overflow-x: hidden;
    height: 90vh;

    section {
        * {

            border-radius: 3px;
        }
    }
}

.mode {
    position: absolute;
    font-size: small;
    color: var(--color-secondary);
    background: var(--bg);
    cursor: pointer;
    user-select: none;

}

.calculator.current{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    h1 {
        align-self: center;
    }

    .voltage-divider {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .equal {
            font-size: 2rem;
            padding: 2rem;
            align-self: center;
            font-weight: lighter;

            color: var(--color-secondary);
        }

        .inputs {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .input {
                background: var(--bg);

            }

            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            input[type=number] {
                -moz-appearance: textfield;
            }

            input:focus,
            select:focus {
                color: var(--color-secondary);
                background: var(--bg-focus);
            }

            button:focus {
                background: var(--bg-hover);

            }

            .resistors {
                input {
                    max-width: 33%
                }
            }

            #resistor-1 {
                order: 0;
            }

            #resistor-2 {
                order: 1;
            }

            #units {
                order: 2;
            }

            #voltage {
                order: 3;
            }
        }

        #calculate-button {
            order: 4;
        }

        .outputs {
            display: flex;
            flex-direction: column;
            // justify-content: flex-end;
            justify-content: center;

            output {
                border-radius: 1rem;
                padding: 1rem;
                background: var(--bg-secondary);
            }
        }

        input,
        select,
        button {
            outline: none;
            border-color: var(--border);
            border: 3px solid var(--border);
            padding: 1rem 0.5rem 1rem 0.5rem;
            margin: 0.2rem;
            text-align: center;
            color: var(--color-secondary);
        }






        button {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            background: var(--bg-secondary);
            color: var(--color);
            cursor: pointer;
            transition: background 0.3s ease, border-color 0.3s ease;

            width: 7rem;

        }

        button:hover {
            background: var(--bg-hover);
            border-color: var(--bg-hover);
        }
    }
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: 100%;
    height: 100%;

    box-sizing: border-box;

    h1 {
        color: var(--color-secondary);
        margin-bottom: 1rem;
    }
}